<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Activities</title>
  <link rel="stylesheet" href="/css/activities.css" />
   <link rel="stylesheet" href="/css/global.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
</head>
<body>

   <div class="main-wrapper">
    <div class="bg-overlay"></div>
    <div class="container">
 {{> sidebar hideItems=false active="activities" }}

  

<div class="main-container">
   <div class="left-container">
             <div class="breadcrumbs">
            <img src="/images/home-white.svg" height="15" />

            <p>/</p>
            <p>Activities</p>
          </div>
            <div class="content about-us-banner">

               {{> banner}}
<div class="content-container">
  <div class="title-container">
    <h3>Points History</h3>
    <a href="/download-pointsHistory" class="btn csv-btn">
    {{!-- <img src="/images/download-icon.png" height="24" alt="CSV Icon"> --}}
     Download
    </a>
    </div>
  <table class="member-table">
   
    <tbody>
        {{#each historiesToShow}}
      
        <tr>
            <td>{{makeType this.transactionType}}</td>
            <td>{{this.service}}</td>
            <td>{{makeDate this.transactionDate}}</td>
            <td><div class="flex"><span class="title">Points Before: </span>{{this.totalPointsBefore}}</div> </td>
            <td><div class="flex"><span class="title">Points After: </span>{{this.totalPointsAfter}} </div></td>
            <td> <div class="flex"><span class="title">Points <span> {{getUsedOrGained transactionType}} </span></span> <span class="{{getColor transactionType}}"> {{this.points}} </span></div> </td>
        </tr>

        {{/each}}


    </tbody>
  </table>
  


    {{#if error}}
    <h4 style="color: #CD5C5C;">{{error}}</h4>
    {{/if}}
    {{#if message}}
        <h3 style="color: #667391;">{{message}}</h3>
    {{/if}}

<div class="pagination">
    <a href="?page={{prevPage}}" class="page-link-btn" aria-label="Previous">&lsaquo; Prev</a>
    
    {{#each pages}}
    <a href="?page={{this}}" class="page-link  {{#if (eq this ../currentPage)}}active{{/if}}">
        {{this}}
    </a>
    {{/each}}
    
    <a href="?page={{nextPage}}" class="page-link-btn" aria-label="Next">Next &rsaquo;</a>
    <a href="?page={{totalPages}}" class="page-link-btn">Last &raquo;</a>
</div>
</div>


</div>



</div>
</div>
</div>
</div>


</body>
</html>
