<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Activities</title>
  <link rel="stylesheet" href="/css/activities.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>

  <nav class="top-nav">
    <a href="/" class="dashboard-link">
      <img src="/images/vikasa-name.png" alt="Vikasa">
    </a>
    <div class="nav-links">
        <a href="/profile" class="activities-link">Home</a>
        <a href="/activities" class="activities-link">Activities</a>
        <a href="/about-us" class="activities-link">About Us</a>
        <a href="/logout" class="logout-link">Logout</a>
    </div>
  </nav>

<div class="main-container">
<div class="container">
  <table class="member-table">
    <thead>
        <tr>
            <td> Points History</td>
        </tr>
    </thead>
    <tbody>

        {{#each historiesToShow}}
        
        <tr>
            <td>{{makeType this.transactionType}}</td>
            <td>{{this.service}}</td>
            <td>{{makeDate this.transactionDate}}</td>
            <td>Points Before: {{this.totalPointsBefore}} </td>
            <td>Points After: {{this.totalPointsAfter}} </td>
            <td>Points Used: {{this.points}} </td>
        </tr>

        {{/each}}


    </tbody>
  </table>
    <a href="/download-pointsHistory" class="btn csv-btn">
    <img src="/images/download-icon.png" alt="CSV Icon"> Download
    </a>


    {{#if error}}
    <h4 style="color: #CD5C5C;">{{error}}</h4>
    {{/if}}
    {{#if message}}
        <h3 style="color: #667391;">{{message}}</h3>
    {{/if}}
</div>
</div>



<div class="pagination">
    <a href="?page={{prevPage}}" class="page-link" aria-label="Previous">&lsaquo; Prev</a>
    
    {{#each pages}}
    <a href="?page={{this}}" class="page-link {{#if (eq this ../currentPage)}}active{{/if}}">
        {{this}}
    </a>
    {{/each}}
    
    <a href="?page={{nextPage}}" class="page-link" aria-label="Next">Next &rsaquo;</a>
    <a href="?page={{totalPages}}" class="page-link">Last &raquo;</a>
</div>


</body>
</html>
