<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vikasa</title>
    <link rel="stylesheet" href="/css/add-info.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
</head>
<body>

    <header class="header">
        <div class="logo">
           <a href="/"> <img src="/images/vikasa-logo.png" alt="Vikasa Logo"> </a>
        </div>
        <h1 class="welcome-text">Welcome to Vikasa</h1>
    </header>

    <div class="whole-form">
        <form class="registration-form" id="registrationForm" action="/update-dob-mobile?id={{userToUpdate.id}}" method="POST">
            <div class="left-column">
                <div class="form-group">
                    <label for="mobileInput">Enter your mobile number:</label>
                    <input type="tel" id="phone" name="mobile" placeholder="Please enter a valid number" required value="{{#if enteredFields.mobile}}{{enteredFields.mobile}}{{/if}}" />
                </div>

                <div class="form-group">
                    <label for="referredBy">Referrer</label>
                    <input type="text" name="referredBy" placeholder="Referrer's email or member ID (Optional)" value="{{#if enteredFields.referredBy}}{{enteredFields.referredBy}}{{/if}}" />
                </div>
    
                <div class="form-group checkboxes">
                    <label><input type="checkbox" name="hasAcceptedPrivacyPolicy" value="true" required {{#if enteredFields.hasAcceptedPrivacyPolicy}}checked{{/if}}> I agree to the Privacy Policy</label>
                    <label><input type="checkbox" name="hasGivenMarketingConsent" value="true" {{#if enteredFields.hasGivenMarketingConsent}}checked{{/if}}> I agree to receive marketing communications</label>
                </div>
            </div>
    
            <div class="right-column">
                <div class="form-group">
                    <label for="dateInput">Enter your date of birth:</label>
                    <input type="date" id="date-input" max="" name="dob" value="{{#if enteredFields.dob}}{{enteredFields.dob}}{{/if}}">
                </div>
       
                <button type="submit" class="register-button">Continue</button>
            </div>
        </form>

        {{#if error}}
            <h3 style="color: #CD5C5C;">{{error}}</h3>
        {{/if}}
    </div>

</body>
<script>
    const phoneInput = document.querySelector("#phone");
    const iti = window.intlTelInput(phoneInput, {
        initialCountry: "auto",
        utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js", 
    });

    document.querySelector("#registrationForm").addEventListener("submit", function (e) {
        e.preventDefault();

        if (iti.isValidNumber()) {
            phoneInput.value = iti.getNumber()
            e.target.submit()
        } else {
            alert("Please enter a valid phone number.");
        }
    })

</script>
</html>
