<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Members List</title>
  <link rel="stylesheet" href="/css/admin-dashboard.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="icon" href="/images/favicon.ico" />
     <link rel="stylesheet" href="/css/global.css" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
</head>
<body>
     <div class="main-wrapper">
         
        <div class="bg-overlay"></div>
         <div class="container">
    {{> sidebar hideItems=true active="home" }}
 <div class="main-container">
    <div class="left-container">
             <div class="breadcrumbs">
            <img src="/images/home-white.svg" height="15" />

            <p>/</p>
            <p>Home</p>
          </div>
           <div class="content about-us-banner">

               {{> banner}}
               <div class="content-wrapper">
{{#if superadmin}}
<div class="menu">
  <div class="menu-bar">
      <ul class="menu-items">

          <li class="menu-item {{isActive activePage 'members'}}">
              <a href="/dashboard?section=members" target="_self" class="link">
                  <span class="menu-text">Members</span>
              </a>
          </li>
          
          <li class="menu-item {{isActive activePage 'admins'}}">
              <a href="/dashboard?section=admins" target="_self" class="link">
                  <span class="menu-text">Admins</span>
              </a>
          </li>

      </ul>
  </div>
</div>
{{/if}}


<div class="main-content">
  <div class="header">
        <div class="search-container">
            <form action="/dashboard" method="GET">
                <input type="hidden" name="section" value="{{activePage}}">
                <input type="text" class="search-bar" name="search" placeholder="Search...">
                <input type="image" src="/images/search-icon.png" alt="Search Icon" class="search-icon">
            </form>
        </div>
         <a href="/add-member" class="btn add-btn btn-filled">
    <img src="/images/add.svg" height="20" alt="Add Icon"> Add Member
    </a>

    <a href="/get-csv" class="btn csv-btn btn-outlined">
    <img src="/images/download.svg" alt="CSV Icon"> Export CSV
    </a>

   

    <form action="/import-admins" method="POST" enctype="multipart/form-data">
      <label for="csvFile" class="btn csv-btn btn-outlined">
         <img src="/images/import.svg" alt="CSV Icon"> Import Users
      </label>
      <input type="file" id="csvFile" name="csvFile" accept=".csv" style="display: none;" />
    </form>


  </div>

  <table class="member-table">
    <thead>
      <tr>
        <th>Member Id</th>
        <th>Member Name</th>
        <th>Email</th>
        <th>Contact</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        {{#each user}}
        <tr onclick="window.location.href='/profile-info?id={{this.id}}'">
        <td>{{this.memberId}}</td>
        <td>{{this.name}}</td>
        <td>{{this.email}}</td>
        <td>{{this.mobile}}</td>
        <td onclick="event.stopPropagation();">
            <a data-open-modal="modal1"> 
            <span class="add-icon">&#43;</span>
            </a>

            <a data-open-modal="modal2"> 
            <span class="minus-icon">&minus;</span>
            </a>

            <div id="rewardMessage" data-message="{{rewardMessage}}"></div>
            <div id="rewardError" data-error="{{rewardError}}"></div>
           
            <dialog data-modal="modal1">
                {{> addTransactionDialog}}
            </dialog>

            <dialog data-modal="modal2">
                {{> redeemPointsDialog}}
            </dialog>

        </td>
        </tr>
        {{/each}}
      
    </tbody>
  </table>

    {{#if error}}
    <h4 style="color: #CD5C5C;">{{error}}</h4>
    {{/if}}
    {{#if message}}
        <h4 style="color: #667391;">{{message}}</h4>
    {{/if}}
</div>

<div class="pagination">
    <a href="?page={{prevPage}}" class="page-link-btn" aria-label="Previous">&lsaquo; Prev</a>
    
    {{#each pages}}
    <a href="?page={{this}}" class="page-link {{#if (eq this ../currentPage)}}active{{/if}}">
        {{this}}
    </a>
    {{/each}}
    
    <a href="?page={{nextPage}}" class="page-link-btn" aria-label="Next">Next &rsaquo;</a>
    <a href="?page={{totalPages}}" class="page-link-btn">Last &raquo;</a>
</div>
</div>

</div>
</div>
</div>
</div>
</div>

</body>
<script>
const fileInput = document.getElementById("csvFile");
fileInput.addEventListener('change', function() {
  this.form.submit();
});

const rewardMessage = document.getElementById('rewardMessage').dataset.message;
const rewardError = document.getElementById('rewardError').dataset.error;

if (rewardMessage || rewardError) {

    const modal = document.querySelector('[data-modal="modal2"]');
    if (modal) {
        modal.showModal();
    }
}


const openElements = document.querySelectorAll("[data-open-modal]");
const modals = document.querySelectorAll("[data-modal]");

// Event listener to trigger modal opening
openElements.forEach(element => {
    element.addEventListener("click", (event) => {
      event.preventDefault();
      event.stopPropagation();
        const modalId = element.getAttribute("data-open-modal");
        const modal = document.querySelector(`[data-modal="${modalId}"]`);
        if (modal) {
            modal.showModal();
        }
    });
});

// Event listeners to close the modal when clicking outside of it
modals.forEach(modal => {
    modal.addEventListener("click", e => {
        const dialogDimensions = modal.getBoundingClientRect();
        if (
            e.clientX < dialogDimensions.left ||
            e.clientX > dialogDimensions.right ||
            e.clientY < dialogDimensions.top ||
            e.clientY > dialogDimensions.bottom
        ) {
            modal.close();
        }
    });
});

</script>
</html>
