{{>navbar}}

    <div class="dmtable-container">

        <table class="dm-table discount-table">
            <thead>
                <tr>
                    <th>Tier</th>
                    <th>Discount</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Balance</td>
                    <td>{{discounts.balanceDiscount}}%</td>
                </tr>
                <tr>
                    <td>Vitality</td>
                    <td>{{discounts.vitalityDiscount}}%</td>
                </tr>
                <tr>
                    <td>Harmony</td>
                    <td>{{discounts.harmonyDiscount}}%</td>
                </tr>
                <tr>
                    <td>Serenity</td>
                    <td>{{discounts.serenityDiscount}}%</td>
                </tr>
            </tbody>
        </table>

        <!-- Multiplier Table -->
        <table class="dm-table multiplier-table">
            <thead>
                <tr>
                    <th>Service Type</th>
                    <th>Multiplier</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Life Café</td>
                    <td>{{multipliers.lifeCafeMultiplier}}</td>
                </tr>
                <tr>
                    <td>Yoga Class</td>
                    <td>{{multipliers.yogaClassMultiplier}}</td>
                </tr>
                <tr>
                    <td>Vita Spa</td>
                    <td>{{multipliers.vitaSpaMultiplier}}</td>
                </tr>
                <tr>
                    <td>Retreats and YTT Packages</td>
                    <td>{{multipliers.retreatsMultiplier}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>
