        {{>navbar}}
        <div class="whole-form">
            <form class="membership-form" action="/update-membership-info?id={{user.id}}" method="POST">
                <div class="left-column">
                    <div class="form-group">
                    <label for="a">Member Id:</label>
                    <input type="text" name="memberId" value="{{user.memberId}}"
                        readonly="readonly">
                    </div>

                    <div class="form-group">
                        <label for="b">Member Since:</label>
                        <input type="text" name="name"
                            value="{{makeDate user.createdAt}}"
                            readonly>
                    </div>

                    <div class="form-group">
                        <label for="c">Points Available:</label>
                         <div class="input-wrapper">
                        <input class="editable" type="text" name="pointsAvailable" value="{{user.membershipInfo.pointsAvailable}}"
                            readonly>
                        <span class="edit-icon">&#9998;</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="d">Last Visit:</label>
                         <div class="input-wrapper">
                        <input class="editable" type="text" name="lastVisit" value="{{makeDate user.membershipInfo.lastVisit}}"
                            readonly>
                        <span class="edit-icon">&#9998;</span>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="e">Last Communication:</label>
                         <div class="input-wrapper">
                        <input class="editable" type="text" name="lastCommunication"
                            value="{{makeDate user.membershipInfo.lastCommunication}}"
                            readonly>
                        <span class="edit-icon">&#9998;</span>
                         </div>
                    </div>

                </div>

                 <div class="right-column">

                    <div class="form-group spacer">
                    </div>
                    
                    <div class="form-group">
                    <label for="f">Last Marketing Communication:</label>
                     <div class="input-wrapper">
                    <input class="editable" type="text" name="lastMarketingCommunication" value="{{makeDate user.membershipInfo.lastMarketingCommunication}}"
                        readonly>
                        <span class="edit-icon">&#9998;</span>
                     </div>
                    </div>

                    <div class="form-group">
                        <label for="g">Expiring Points:</label>
                         <div class="input-wrapper">
                        <input class="editable" type="text" name="expiringPoints" value="{{user.membershipInfo.expiringPoints}}"
                            readonly>
                            <span class="edit-icon">&#9998;</span>
                         </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="h">Last Usage Points:</label>
                         <div class="input-wrapper">
                        <input class="editable" type="text" name="lastUsagePoints" value="{{user.membershipInfo.lastUsagePoints}}"
                            readonly>
                            <span class="edit-icon">&#9998;</span>
                         </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="i">Total lifetime Points:</label>
                         <div class="input-wrapper">
                        <input class="editable" type="text" name="totalLifetimePoints" value="{{user.membershipInfo.totalLifetimePoints}}"
                            readonly>
                            <span class="edit-icon">&#9998;</span>
                         </div>
                    </div>

                    <div class="lastbuttons">
                    <input class="update-button" type="submit" value="&#x1F4DD; Update"> 
                    </div>

                 </div>

            </form>
        </div>
    </div>
</body>

<script>
  document.querySelectorAll('.form-group').forEach(group => {
    const inputField = group.querySelector('.editable');
    const editIcon = group.querySelector('.edit-icon');

    if (inputField && editIcon) {
        editIcon.addEventListener('click', function() {
            inputField.removeAttribute('readonly'); // Make the input editable
            inputField.focus(); // Set focus to the input field

            const end = inputField.value.length;
            inputField.setSelectionRange(end, end);
        });

        inputField.addEventListener('focus', function() {
            editIcon.style.visibility = 'hidden'; // Hide the icon when input is focused
        });

        inputField.addEventListener('blur', function() {
            editIcon.style.visibility = 'visible'; // Show the icon when input loses focus
        });
    }
  });

</script>
</html>

