<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vikasa Registration</title>
    <link rel="icon" href="/images/favicon.ico" />
    <link rel="stylesheet" href="/css/authentication.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"
    ></script>

  </head>
  <body>
    
        
 <div class="wrapper">
      <div class="container">

 <div class="left signup-banner">
          <div class="banner-content">
            Welcome to Vikasa
            <span>Join Vikasa's loyalty program to enjoy discounts on yoga, spa, and our Life Cafe while connecting with a global wellness community.</span>
          </div>
          <div class="overlay">
          </div>

        </div>
         <div class="right">
     <div>
        <a href="/" class="logo-link">
     <img class="logo" src="/images/logo.png" alt="Visaka Logo" />
     </a>
            <h2>Sign up</h2>
            <h4>Already a member? <a href="/">Sign in</a></h4>
   

        <form action="/register" method="post" id="registrationForm" class="registration-form">
                    <label for="first-name">Full Name</label>
                    <div class="name-fields">
                        <input type="text" name="firstname" placeholder="First Name" required value="{{#if enteredFields.firstname}}{{enteredFields.firstname}}{{/if}}">
                        <input type="text" name="lastname" placeholder="Last Name" required value="{{#if enteredFields.lastname}}{{enteredFields.lastname}}{{/if}}">
                    </div>
    
                    <label for="email">Email</label>
                    <input type="email" name="email" placeholder="example@example.com" required value="{{#if enteredFields.email}}{{enteredFields.email}}{{/if}}">
    
                    <label for="mobile">Mobile Number</label>
                    <input type="tel" id="phone" name="mobile" placeholder="Please enter a valid number" required value="{{#if enteredFields.mobile}}{{enteredFields.mobile}}{{/if}}" />

                    <label for="referredBy">Referrer</label>
                    <input type="text" name="referredBy" placeholder="Referrer's email or member ID (Optional)" value="{{#if enteredFields.referredBy}}{{enteredFields.referredBy}}{{/if}}" />
    
                  
                    <label for="dob">Date of Birth</label>
                    <input type="date" id="date-input" max="" name="dob" required value="{{#if enteredFields.dob}}{{enteredFields.dob}}{{/if}}">
    
                    <label for="password">Password</label>
                    <input type="password" name="password" placeholder="Enter a strong password" required value="{{#if enteredFields.password}}{{enteredFields.password}}{{/if}}" autocomplete="new-password">
    
                    <label for="language">Preferred Language</label>
                    <select name="language" required>
                        <option value="English" {{#if enteredFields.language}}{{#ifEquals enteredFields.language "English"}}selected{{/ifEquals}}{{/if}}>English</option>
                        <option value="Thai" {{#if enteredFields.language}}{{#ifEquals enteredFields.language "Thai"}}selected{{/ifEquals}}{{/if}}>Thai</option>
                    </select>

                      <label class="checkbox-wrapper mt-10"><input class="checkbox" type="checkbox" name="hasAcceptedPrivacyPolicy" value="true" required> I agree to the <a class="privacy-link" href="https://vikasa.com/privacy-policy/" target="_blank">Privacy Policy</a></label>
                    <label class="checkbox-wrapper"><input class="checkbox" type="checkbox" name="hasGivenMarketingConsent" value="true"> I agree to receive marketing communications</label>
    
    
                <button type="submit" class="signin-btn mt-10">Register</button>
        </form>

        {{#if error}}
            <h3 style="color: #CD5C5C;">{{error}}</h3>
        {{/if}}
    </div>
    </div>
    </div>
    </div>


  </body>
  <script>
    var today = new Date().toISOString().split('T')[0];
    document.getElementById("date-input").setAttribute("max", today); const
    phoneInput = document.querySelector("#phone"); const iti =
    window.intlTelInput(phoneInput, { initialCountry: "th", utilsScript:
    "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    }); document.querySelector("#registrationForm").addEventListener("submit",
    function (e) { e.preventDefault(); if (iti.isValidNumber()) {
    phoneInput.value = iti.getNumber() e.target.submit() } else { alert("Please
    enter a valid phone number."); } })

  </script>
</html>