{{>navbar}}

<div class="single-column">
    {{#if user.reservation.length}}
    <table class="centered-table">
    <thead>
        <tr>
            <th>Transaction Code</th>
            <th>Transaction Date</th>
        </tr>
    </thead>
    <tbody>
        {{#each user.reservation}}
        <tr>
            <td> {{startFromOne @index}}. <a href="/reservation-details/?id={{../user._id}}&reservationIndex={{@index}}"> {{this.tranCode}}</a></td>
            <td> {{makeDate this.transactionDateTime}}</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
    <p>No reservations yet.</p>
{{/if}}

<div class="addreservation-button"> 
    <a href="/add-reservation?id={{user.id}}" class="add-button">&#x271A; Add reservation</a>
</div>

</div>

</body>
</html>
