{{>navbar}}
{{#if add}}
<div class="whole-form">
    <form class="rdetails-form" action="/update-transaction-details?id={{user.id}}&reservationIndex={{reservationIndex}}" method="POST">
    <div class="left-column">

        <div class="form-group">
            <label for="spendingType">Spending Type:</label>
            <select name="spendingType" id="spendingType" required value="{{transactionObj.spendingType}}">
                <option value="Life Café" {{#if (eq transactionObj.spendingType "Life Café")}}selected{{/if}}>Life Café</option>
                <option value="Yoga Class" {{#if (eq transactionObj.spendingType "Yoga Class")}}selected{{/if}}>Yoga Class</option>
                <option value="Vita Spa" {{#if (eq transactionObj.spendingType "Vita Spa")}}selected{{/if}}>Vita Spa</option>
                <option value="Retreats and YTT Packages" {{#if (eq transactionObj.spendingType "Retreats and YTT Packages")}}selected{{/if}}>Retreats and YTT Packages</option>
            </select>
        </div>
    </div>

    <div class="right-column">

        <div class="form-group">
            <label for="amount">Amount</label>
            <div class="currency-input">
                <span class="currency-symbol">THB | </span>
                <div class="input-wrapper">
                <input class="editable" type="number" name="amount" id="amount" 
                    value="{{transactionObj.amount}}" required>
                </div>
            </div>
        </div>

        {{#if error}}
        <h4 style="color: #CD5C5C;">{{error}}</h4>
        {{/if}}

        
        <div class="lastbuttons">
        <input class="update-button" type="submit" value="&#x1F4DD; Update"> 

        {{#if superadmin}}
        <a href="/delete-transaction?id={{user.id}}&reservationIndex={{reservationIndex}}" class="delete-button">&#x1F5D1; Delete</a>
        {{/if}}

        </div>

    </div>   

    </form>
</div>

{{else}}
<div class="whole-form">
<form class="rdetails-form">

    <div class="left-column">
    <div class="form-group">
        <label for="Category">Reward:</label>
        <div class="input-wrapper">
        <input class="editable" type="text" name="category"
            value="{{transactionObj.reward}}" required readonly>
        </div>
    </div>
    </div>

    <div class="right-column">

    <div class="form-group">
        <label for="Category">Points Used:</label>
        <div class="input-wrapper">
        <input class="editable" type="text" name="category"
            value="{{commaFormat transactionObj.pointsLost}}" required readonly>
        </div>
    </div>

    </div>
</form>
</div>

{{/if}}

</body>
</html>
