<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <link rel="stylesheet" href="/css/user-profile.css" />
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="icon" href="/images/favicon.ico" />
    <link rel="stylesheet" href="https://use.typekit.net/hwh1xjc.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="main-wrapper">
    <div class="bg-overlay"></div>
    <div class="container">
      {{> sidebar hideItems=false active="profile" }}
      <!-- Main Container -->
      <div class="main-container">
        <!-- Left Division for Form -->
        <div class="left-container">
          <div class="content">
               {{> banner}}
          {{!-- <form class="profile-container" action="/update-profileinfo?id={{user.id}}"> --}}
          <form class="profile-container">
            <div class="profile">
              <!-- Profile Form Fields -->
              <div class="profile-field">
                <label for="name">Name</label>
                <div class="field-content">
                  <p class="text">{{user.name}}</p>
                  {{!-- <input
                    class="editable"
                    type="text"
                    name="name"
                    value="{{user.name}}"
                    readonly
                  /> --}}
                </div>
              </div>

              <div class="profile-field">
                <label for="member-id">Member ID</label>
                <div class="field-content">
                  <p class="text">{{user.memberId}}</p>
                  {{!-- <input
                    type="text"
                    name="member-id"
                    value="{{user.memberId}}"
                    readonly
                  /> --}}
                </div>
              </div>

              <div class="profile-field">
                <label for="email">Email</label>
                <div class="field-content">
                  <p class="text">{{user.email}}</p>
                  {{!-- <input
                    type="email"
                    class="editable"
                    name="email"
                    value="{{user.email}}"
                    readonly
                  /> --}}

                </div>
              </div>

              <div class="profile-field">
                <label for="mobile">Mobile</label>
                <div class="field-content">
                  <p class="text">{{user.mobile}}</p>
                  {{!-- <input
                    type="tel"
                    class="editable"
                    name="mobile"
                    value="{{user.mobile}}"
                    readonly
                  /> --}}
                </div>
              </div>

              <div class="profile-field">
                <label for="language">Preferred Language</label>
                <div class="field-content">
                  <p class="text">{{user.language}}</p>
                  {{!-- <input
                    type="text"
                    class="editable"
                    name="language"
                    value="{{user.language}}"
                    readonly
                  /> --}}
                  {{! <button type="button" class="edit-button">✎</button> }}
                </div>
              </div>

              <div class="profile-field">
                <label for="dob">Date of Birth</label>
                <div class="field-content">
                  <p class="text">{{makeDate user.dob}}</p>
                  {{!-- <input
                    type="text"
                    class="editable"
                    name="dob"
                    value="{{makeDate user.dob}}"
                    readonly
                  /> --}}

                </div>
              </div>

              <div class="profile-field">
                <label for="member-since">Anniversary Date</label>
                <div class="field-content">
                  <p class="text">{{makeDate user.createdAt}}</p>
                  {{!-- <input
                    type="text"
                    name="member-since"
                    value="{{makeDate user.createdAt}}"
                    readonly
                  /> --}}
                </div>
              </div>

                <div class="profile-field">
                <label for="member-since">Points Balance</label>
                <div class="field-content">
                  <p class="text">{{ user.membershipInfo.pointsAvailable}}</p>
                 
                </div>
              </div>

            </div>
            <div class="card-container">
              <p class="cardholder-name">{{user.name}} <br>
              <small>{{user.memberId}}</small>
              </p>
              
                <img  src="/images/card.png" alt="Logo" class="balance-card" id="cardImage" />
            </div>

            {{!-- <div class="lastbuttons">
          <input class="update-button" type="submit" value="&#x1F4DD; Update"> 
          <a href="/delete-user/?id={{user.id}}" class="delete-button">&#x1F5D1; Delete</a>
        </div> --}}

            <!-- Add remaining profile fields here as per original code -->
          </form>
          </div>

        </div>

        <!-- Right Division -->
        {{! <div class="right-division"> }}
        <!-- Top Division for Loyalty Card -->
        {{!-- <div class="loyalty-card">
        <div class="card-content">
          <h2>Loyalty Card</h2>
          <p class="points-label">Current Points</p>
          <p class="points-value">{{formatPoints user.membershipInfo.pointsAvailable}}</p>
          <div class="divider"></div>
          <p class="redeem-text">Redeem your points</p>
          <img src="/images/trophy.png" alt="Trophy Icon" class="trophy-icon">
        </div>
      </div> --}}

        {{!-- <div class="credit-card {{lowercase user.tier}}"> --}}

        {{! <img src="/images/balance.svg" alt="Logo" class="balance-card" /> }}

        {{!-- <div class="card-logo">
    {{#if (eq user.tier "Serenity")}}
        <img src="/images/vikasa-logo-lighter.png" alt="Logo" width="50">
    {{else}}
        <img src="/images/vikasa-logo.png" alt="Logo" width="50">
    {{/if}}
    </div>

    <div class="card-type">{{user.tier}}</div>
    <div class="card-details">
        <div class="card-name">{{user.name}}</div>
        <div class="card-info">
            <div class="info-item">
                <span class="info-value">{{makeDate user.dob}}</span>
                <span class="label">Date of Birth</span>
            </div>
            <div class="info-item">
                <span class="info-value">{{makeDate user.createdAt}}</span>
                <span class="label">Member Since</span>
            </div>
            <div class="info-item">
                <span class="info-value">{{formatPoints user.membershipInfo.pointsAvailable}}</span>
                <span class="label">Points</span>
            </div>
        </div>
    </div>
    <div class="card-circles">
        <div class="circle"></div>
        <div class="circle"></div>
    </div> --}}

        {{! </div> }}
        {{! </div> }}
      </div>
    </div>
    </div>

  </body>

  {{!-- <script type="text/javascript">
    const cardImage = document.getElementById('cardImage');

    document.addEventListener('DOMContentLoaded', function () {
      cardImage.addEventListener('mouseenter', function () {
        cardImage.classList.add('flipped');
        setTimeout(function() {
          cardImage.src = '/images/card.png';
        }, 300);
      });

      cardImage.addEventListener('mouseleave', function () {
        cardImage.classList.remove('flipped');
        setTimeout(function() {
          cardImage.src = '/images/card.png';
        }, 300);
      });
    });
  </script> --}}
  
</html>