{{#if user.id}}
<form action="/add-transaction?id={{user.id}}" method="post" class="reservation-form" autocomplete="off">
{{else}}
<form action="/add-transaction?id={{this.id}}" method="post" class="reservation-form" autocomplete="off">
{{/if}}
        <div class="form-group">
            <label for="spendingType">Spending Type</label>
            <select name="spendingType" id="spendingType" required value="{{#if enteredFields.spendingType}}{{enteredFields.spendingType}}{{/if}}">
                <option value="Life Café">Life Café</option>
                <option value="Yoga Class">Yoga Class</option>
                <option value="Vita Spa">Vita Spa</option>
                <option value="Retreats and YTT Packages">Retreats and YTT Packages</option>
                <option value="Annual Membership Fee">Annual Membership Fee</option>
                <option value="Bonus 1">Bonus 1</option>
                <option value="Bonus 2">Bonus 2</option>
                <option value="Bonus 3">Bonus 3</option>
                <option value="Bonus 4">Bonus 4</option>
            </select>
        </div>


        <div class="form-group">
            <label for="amount">Amount</label>
            <div class="currency-input">
                <span class="currency-symbol">THB | </span>
                <input type="number" name="amount" id="amount" 
                    class="form-input" 
                    value="{{getValue transactionObj.amount enteredFields.amount}}" 
                    placeholder="Enter amount" required>
            </div>
        </div>


        <button type="submit" class="confirm-button">Confirm Transaction</button>
    {{#if error}}
        <h4 style="color: #CD5C5C;">{{error}}</h4>
    {{/if}}
</form>