
<div class="user-information-container">

    <div class="half-grid">
        <div class="user-information-header">
            <h2 class="title">Discounts</h2>

            {{#if superadmin}}
            <div class="lastbuttons">
                <input class="update-button" type="submit" value="Update" form="discount-form">
            </div>
            {{/if}}


        </div>

        <div class="user-information-header">
            <h2 class="title">Multipliers</h2>

            {{#if superadmin}}
            <div class="lastbuttons">
                <input class="update-button" type="submit" value="Update" form="multiplier-form">
            </div>
            {{/if}}
        </div>
    </div>

{{#if superadmin}}
    <div class="table-grid">
    <!-- Discount Form -->
    <form id="discount-form" action="/discount-control?id={{user.id}}" method="POST">
        <table class="discounts-multiplier-table">
            <thead>
                <tr>
                    <th>Tier</th>
                    <th>Discount</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Balance</td>
                    <td><input type="text" name="balanceDiscountp" value="{{discounts.balanceDiscount}}%" required /></td>
                </tr>
                <tr>
                    <td>Vitality</td>
                    <td><input type="text" name="vitalityDiscountp" value="{{discounts.vitalityDiscount}}%" required /></td>
                </tr>
                <tr>
                    <td>Harmony</td>
                    <td><input type="text" name="harmonyDiscountp" value="{{discounts.harmonyDiscount}}%" required /></td>
                </tr>
                <tr>
                    <td>Serenity</td>
                    <td><input type="text" name="serenityDiscountp" value="{{discounts.serenityDiscount}}%" required /></td>
                </tr>
            </tbody>
        </table>
        {{#if discountError}}
        <h4 class="error-message">{{discountError}}</h4>
        {{/if}}
        {{#if discountMessage}}
        <h4 class="success-message">{{discountMessage}}</h4>
        {{/if}}
    </form>


    <form id="multiplier-form" action="/multiplier-control?id={{user.id}}" method="POST">
        <table class="discounts-multiplier-table">
            <thead>
                <tr>
                    <th>Service Type</th>
                    <th>Multiplier</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Life Café</td>
                    <td><input type="text" name="lifeCafeMultiplier" value="{{multipliers.lifeCafeMultiplier}}" required /></td>
                </tr>
                <tr>
                    <td>Yoga Class</td>
                    <td><input type="text" name="yogaClassMultiplier" value="{{multipliers.yogaClassMultiplier}}" required /></td>
                </tr>
                <tr>
                    <td>Vita Spa</td>
                    <td><input type="text" name="vitaSpaMultiplier" value="{{multipliers.vitaSpaMultiplier}}" required /></td>
                </tr>
                <tr>
                    <td>Retreats and YTT Packages</td>
                    <td><input type="text" name="retreatsMultiplier" value="{{multipliers.retreatsMultiplier}}" required /></td>
                </tr>
            </tbody>
        </table>
        {{#if multiplierError}}
        <h4 class="error-message">{{multiplierError}}</h4>
        {{/if}}
        {{#if multiplierMessage}}
        <h4 class="success-message">{{multiplierMessage}}</h4>
        {{/if}}
    </form>
</div>

{{else}}

 <div class="table-grid">

     <table class="discounts-multiplier-table">
        <thead>
            <tr>
                <th>Tier</th>
                <th>Discount</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Balance</td>
                <td>{{discounts.balanceDiscount}}%</td>
            </tr>
            <tr>
                <td>Vitality</td>
                <td>{{discounts.vitalityDiscount}}%</td>
            </tr>
            <tr>
                <td>Harmony</td>
                <td>{{discounts.harmonyDiscount}}%</td>
            </tr>
            <tr>
                <td>Serenity</td>
                <td>{{discounts.serenityDiscount}}%</td>
            </tr>
        </tbody>
    </table>


     <table class="discounts-multiplier-table">
        <thead>
            <tr>
                <th>Service Type</th>
                <th>Multiplier</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Life Café</td>
                <td>{{multipliers.lifeCafeMultiplier}}</td>
            </tr>
            <tr>
                <td>Yoga Class</td>
                <td>{{multipliers.yogaClassMultiplier}}</td>
            </tr>
            <tr>
                <td>Vita Spa</td>
                <td>{{multipliers.vitaSpaMultiplier}}</td>
            </tr>
            <tr>
                <td>Retreats and YTT Packages</td>
                <td>{{multipliers.retreatsMultiplier}}</td>
            </tr>
        </tbody>
    </table>
</div>
</div>
{{/if}}
</div>