<dialog id="{{dialogId}}" data-source="{{data-source}}" data-form-id="{{data-form-id}}" data-href="{{data-href}}">
    <div>
        <p>{{message}}</p>
        <div class="dialog-buttons">
            <button class="cancel-button-dialog" data-close-modal>{{cancelButtonText}}</button>
            <button class="confirm-button-dialog" data-confirm-modal>{{confirmButtonText}}</button>
        </div>
    </div>
</dialog>