<dialog id="{{dialogId}}" data-source="{{source}}" data-form-id="{{formId}}" data-href="{{href}}">
    <div>
        <p>{{message}}</p>
        <div class="dialog-buttons">
            <button class="cancel-button-dialog" data-close-modal>{{cancelButtonText}}</button>
            <button class="confirm-button-dialog" data-confirm-modal>{{confirmButtonText}}</button>
        </div>
    </div>
</dialog>