<div class="user-information-container">
  <form action="/update-membership-info?id={{user.id}}" method="POST">

    <div class="user-information-header">
    <h2 class="title">Membership Information</h2>
    <div class="lastbuttons">
        <input class="update-button" type="submit" value="Update">
    </div>
    </div>

    <div class="user-information-grid">
      <div class="user-information-field">
        <label>Membership Status:</label>
        <select name="status" id="status" required value="{{user.membershipInfo.status}}">
            <option value="Active" {{#if (eq user.membershipInfo.status "Active")}}selected{{/if}}>Active</option>
            <option value="Pending" {{#if (eq user.membershipInfo.status "Pending")}}selected{{/if}}>Pending</option>
            <option value="Inactive" {{#if (eq user.membershipInfo.status "Inactive")}}selected{{/if}}>Inactive</option>
            <option value="Upgrade" {{#if (eq user.membershipInfo.status "Upgrade")}}selected{{/if}}>Upgrade</option>
            <option value="Downgrade" {{#if (eq user.membershipInfo.status "Downgrade")}}selected{{/if}}>Downgrade</option>
        </select>
      </div>

      <div class="user-information-field">
        <label>Total lifetime Points:</label>
        <span class="non-editable"> {{commaFormat user.membershipInfo.pointsAvailable}} </span> 
      </div>

      <div class="user-information-field">
        <label>Points Balance:</label>
        <span class="non-editable"> {{commaFormat user.membershipInfo.pointsForRedemptions}} </span> 
      </div>

      <div class="user-information-field">
        <label>Total expenditure:</label>
        <span class="non-editable"> {{commaFormat user.membershipInfo.totalExpenditure}} </span> 
      </div>

  </form>
</div>
