<div class="whole-form">
<form  action="/update-membership-info?id={{user.id}}" method="POST">
    <div class="membership-form">
    <div class="left-column">

        <div class="form-group">
            <label for="status">Membership Status:</label>
            <select name="status" id="status" required value="{{user.membershipInfo.status}}">
                <option value="Active" {{#if (eq user.membershipInfo.status "Active")}}selected{{/if}}>Active</option>
                <option value="Pending" {{#if (eq user.membershipInfo.status "Pending")}}selected{{/if}}>Pending</option>
                <option value="Inactive" {{#if (eq user.membershipInfo.status "Inactive")}}selected{{/if}}>Inactive</option>
                <option value="Upgrade" {{#if (eq user.membershipInfo.status "Upgrade")}}selected{{/if}}>Upgrade</option>
                <option value="Downgrade" {{#if (eq user.membershipInfo.status "Downgrade")}}selected{{/if}}>Downgrade</option>
            </select>
        </div>

    </div>

    <div class="middle-column">
        <div class="form-group">
            <label for="c">Total lifetime Points:</label>
                <div class="input-wrapper">
            <input class="editable" type="text" name="pointsAvailable" value="{{user.membershipInfo.pointsAvailable}}"
                readonly>
            </div>
        </div>

    </div>


        <div class="right-column">

        {{!-- <div class="form-group spacer">
        </div> --}}
        
        <div class="form-group">
            <label for="c">Points Balance:</label>
                <div class="input-wrapper">
            <input class="editable" type="text" name="pointsForRedemptions" value="{{user.membershipInfo.pointsForRedemptions}}"
                readonly>
            </div>
        </div>

        </div>
</div>

        <div class="lastbuttons">
        <input class="update-button" type="submit" value="&#x1F4DD; Update"> 
        </div>

    {{#if error}}
    <h4 style="color: #CD5C5C;">{{error}}</h4>
    {{/if}}
    {{#if message}}
        <h4 style="color: #667391;">{{message}}</h4>
    {{/if}}
            </form>
        </div>
    </div>
</body>

<script>
  document.querySelectorAll('.form-group').forEach(group => {
    const inputField = group.querySelector('.editable');
    const editIcon = group.querySelector('.edit-icon');

    if (inputField && editIcon) {
        editIcon.addEventListener('click', function() {
            inputField.removeAttribute('readonly'); // Make the input editable
            inputField.focus(); // Set focus to the input field

            const end = inputField.value.length;
            inputField.setSelectionRange(end, end);
        });

        inputField.addEventListener('focus', function() {
            editIcon.style.visibility = 'hidden'; // Hide the icon when input is focused
        });

        inputField.addEventListener('blur', function() {
            editIcon.style.visibility = 'visible'; // Show the icon when input loses focus
        });
    }
  });

</script>
