<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/memberdetails.css">
        <title>VIKASA Loyalty Management</title>
    </head>
    <body>
<nav>
        <ul>
            <li><a href = "/profile-info?id={{user.id}}&token={{token}}">Profile Information</a></li>
            <li><a href = "/system-data?id={{user.id}}&token={{token}}">System Data</a></li>
            <li><a href = "/privacy-pref?id={{user.id}}&token={{token}}">Privacy and Preference</a></li>
            <li><a href = "/membership-info?id={{user.id}}&token={{token}}">Membership Information</a></li>
            <li><a href = "/reservation-info?id={{user.id}}&token={{token}}">Reservation Information</a></li>
        </ul>
    </nav>
