<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/details.css">
        <title>VIKASA Loyalty Management</title>
    </head>
    <body>
        <a href = "/">Go back to dashboard</a>
        <nav>
            <ul>
                <li><a href = "/profile-info?id={{user.id}}">Profile Information</a></li>
                <li><a href = "/system-data?id={{user.id}}">System Data</a></li>
                <li><a href = "/privacy-pref?id={{user.id}}">Privacy and Preference</a></li>
                <li><a href = "/membership-info?id={{user.id}}">Membership Information</a></li>
                <li><a href = "/reservation-info?id={{user.id}}">Reservation Information</a></li>
            </ul>
        </nav>
