<div class="user-information-container">

    <div class="user-information-header">
        <h2 class="title">Points Wallet</h2>
    </div>

{{#if historiesToShow.length}}
<table class="points-table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Type</th>
        <th>Service/Reward</th>
        <th>Points</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        {{#each historiesToShow}}
        <tr onclick="window.location.href='/transaction-details/?id={{../user.id}}&tranCode={{this.tranCode}}'">
        <td>{{makeDate this.transactionDate}}</td>
        <td>{{makeType this.transactionType}}</td>
        <td>{{this.service}}</td>
        <td><span> {{getUsedOrGained transactionType}} </span> <span class="{{getColor transactionType}}"> {{commaFormat this.points}} </span></td>
        <td>
            <div class="options-container">
                <img src="/images/three-dots.png" alt="Options" class="options-icon" onclick="event.stopPropagation(); toggleDropdown(event);">
                <div class="options-dropdown">
                    <a href="/transaction-details/?id={{../user.id}}&tranCode={{this.tranCode}}">
                        <span class="edit-icon-drop">&#9998;</span> Edit
                    </a>


                    {{#if ../superadmin}}


                    {{#if (eq transactionType "add")}}

                    <a href="/delete-transaction?id={{../user.id}}&tranCode={{this.tranCode}}" data-open-modal="delete-dialog-1" onclick="handleClick(event)">
                        <span class="delete-icon-drop">&#x1F5D1;</span> Delete
                    </a>

                    {{else}}

                    <a href="/delete-redemption?id={{../user.id}}&tranCode={{this.tranCode}}" data-open-modal="delete-dialog-2" onclick="handleClick(event)">
                        <span class="delete-icon-drop">&#x1F5D1;</span> Delete
                    </a>

                    {{/if}}


                    {{/if}}


                </div>
            </div>
        </td>
        </tr>
         {{/each}}
      
    </tbody>
  </table>

    {{> flexibleModal 
        dialogId="delete-dialog-1"
        message="Are you sure you want to delete?"
        confirmButtonText="Confirm"
        cancelButtonText="Cancel"
        source="link"
        href="/delete-transaction?id={{../user.id}}&tranCode={{this.tranCode}}"
    }}

    {{> flexibleModal 
        dialogId="delete-dialog-2"
        message="Are you sure you want to delete?"
        confirmButtonText="Confirm"
        cancelButtonText="Cancel"
        source="link"
        href="/delete-redemption?id={{../user.id}}&tranCode={{this.tranCode}}"
    }}


{{else}}
    <p class="no-transaction">No transaction yet.</p>
{{/if}}

{{#if error}}
<h4 style="color: #CD5C5C;">{{error}}</h4>
{{/if}}
{{#if message}}
<h4 style="color: #709166;">{{message}}</h4>
{{/if}}
</div>