<div class="user-information-container">
  <form action="/update-privacy-and-pref?id={{user.id}}" method="POST">

      <div class="user-information-header">
        <h2 class="title">Privacy and Preferences</h2>
        <div class="lastbuttons">
          <input class="update-button" type="submit" value="Update">
        </div>
      </div>


    <div class="user-information-grid">

      <div class="user-information-field">
        <label>Privacy Policy:</label>
        <div class="input-wrapper">
          <input class="editable" type="text" name="hasAcceptedPrivacyPolicy" value="{{user.privacy.hasAcceptedPrivacyPolicy}}" readonly>
          <span class="edit-icon">&#9998;</span>
        </div>
      </div>

      <div class="user-information-field">
        <label>Marketing Consent:</label>
        <div class="input-wrapper">
          <input class="editable" type="text" name="hasGivenMarketingConsent" value="{{user.marketing.hasGivenMarketingConsent}}" readonly>
          <span class="edit-icon">&#9998;</span>
        </div>
      </div>

      <div class="user-information-field">
        <label>Privacy Policy Stamp:</label>
        <span class="non-editable">{{makeDate user.privacy.createdAt}}</span>
      </div>

      <div class="user-information-field">
        <label>Marketing Consent Stamp:</label>
        <span class="non-editable">{{makeDate user.marketing.createdAt}}</span>
      </div>

      <div class="user-information-field">
        <label>Privacy Policy Updated:</label>
        <span class="non-editable">{{makeDate user.privacy.updatedAt}}</span>
      </div>

      <div class="user-information-field">
        <label>Marketing Consent Updated:</label>
        <span class="non-editable">{{makeDate user.marketing.updatedAt}}</span>
      </div>

  </form>
</div>