{{#if user.id}}
<form action="/redeem?id={{user.id}}" method="post" class="reservation-form" autocomplete="off">
{{else}}
<form action="/redeem?id={{this.id}}" method="post" class="reservation-form" autocomplete="off">
{{/if}}

  <div class="form-group">
    <label for="category">Category</label>
    <select name="category" id="category" required>
      <option value="yogaCategory">Yoga</option>
      <option value="fnbCategory">F&B</option>
      <option value="vitaSpaCategory">Vita Spa</option>
      <option value="retreatsCategory">Retreats and YTT Packages</option>
    </select>
  </div>

  <div class="form-group">
    <label for="reward">Reward</label>
    <select name="reward" id="reward" required>
    </select>
  </div>

  <div class="signup-link">
    <div class="signup-now">
      {{#if user.id}}
        <p> <a target="_blank" href="/rewardPoints?id={{user.id}}">Check redeemable rewards</a></p>
      {{else}}
        <p> <a target="_blank" href="/rewardPoints?id={{this.id}}">Check redeemable rewards</a></p>
      {{/if}}
    </div>
  </div>

  <button type="submit" class="confirm-button">Confirm Transaction</button>
</form>