<div class="single-column">
<div class="rewardstable-container">
  <div class="table-card">
      <div class="category-name">
          <p>Yoga Category</p>
      </div>
          <table class="redemption-table">
              <thead>
                  <tr>
                      <th>Rewards</th>
                      <th>Points Required</th>
                  </tr>
              </thead>
              <tbody>

                  {{#each filteredRewards.yogaRewards}}
                      <tr class="{{#if filtered}}filtered{{else}}non-filtered{{/if}}">

                      <form action="/redeem?id={{../user.id}}" method="POST">

                      <td>{{name}}</td>
                      <td>{{commaFormat points}}</td>
                      <td>
                        <input type="hidden" name="category" value="{{yogaCategory}}">
                        <input type="hidden" name="reward" value="{{name}}">
                        <button type="submit" class="redeem-button" {{#unless filtered}}disabled{{/unless}}>Redeem</button>
                      </td>

                      </form>
                      </tr>
                  {{/each}}
                  
              </tbody>
          </table>
  </div>

  <div class="table-card">
      <div class="category-name">
          <p>F&B Category</p>
      </div>
          <table class="redemption-table">
              <thead>
                  <tr>
                      <th>Rewards</th>
                      <th>Points Required</th>
                  </tr>
              </thead>
              <tbody>

                  {{#each filteredRewards.fnbRewards}}
                      <tr class="{{#if filtered}}filtered{{else}}non-filtered{{/if}}">

                      <form action="/redeem?id={{../user.id}}" method="POST">
                      
                      
                      <td>{{name}}</td>
                      <td>{{commaFormat points}}</td>
                      <td>
                        <input type="hidden" name="category" value="{{fnbCategory}}">
                        <input type="hidden" name="reward" value="{{name}}">
                        <button type="submit" class="redeem-button" {{#unless filtered}}disabled{{/unless}}>Redeem</button>
                      </td>

                      </form>
                      </tr>
                  {{/each}}
                  
              </tbody>
          </table>
  </div>

  <div class="table-card">
      <div class="category-name">
          <p>Vita Spa Category</p>
      </div>
          <table class="redemption-table">
              <thead>
                  <tr>
                      <th>Rewards</th>
                      <th>Points Required</th>
                  </tr>
              </thead>
              <tbody>
                  {{#each filteredRewards.vitaSpaRewards}}
                      <tr class="{{#if filtered}}filtered{{else}}non-filtered{{/if}}">
                      <form action="/redeem?id={{../user.id}}" method="POST">
                      <td>{{name}}</td>
                      <td>{{commaFormat points}}</td>
                      <td>
                        <input type="hidden" name="category" value="{{vitaSpaCategory}}">
                        <input type="hidden" name="reward" value="{{name}}">
                        <button type="submit" class="redeem-button" {{#unless filtered}}disabled{{/unless}}>Redeem</button>
                      </td>

                      </form>
                      </tr>
                  {{/each}}
              </tbody>
          </table>
  </div>

  <div class="table-card">
      <div class="category-name">
          <p>Retreats and YTT packages</p>
      </div>
          <table class="redemption-table">
              <thead>
                  <tr>
                      <th>Rewards</th>
                      <th>Points Required</th>
                  </tr>
              </thead>
              <tbody>
                  {{#each filteredRewards.retreatRewards}}
                      <tr class="{{#if filtered}}filtered{{else}}non-filtered{{/if}}">
                      <form action="/redeem?id={{../user.id}}" method="POST">
                      <td>{{name}}</td>
                      <td>{{commaFormat points}}</td>
                      <td>
                        <input type="hidden" name="category" value="{{retreatsCategory}}">
                        <input type="hidden" name="reward" value="{{name}}">
                        <button type="submit" class="redeem-button" {{#unless filtered}}disabled{{/unless}}>Redeem</button>
                      </td>

                      </form>
                      </tr>
                  {{/each}}
              </tbody>
          </table>
  </div>

</div>
</div>