<div class="user-information-container">

    <div class="user-information-header">
        <h2 class="title">Redemption</h2>
    </div>

    <div class="rewardstable-container">
  <div class="table-card">
      <div class="category-name">
          <p>Yoga Category</p>
      </div>
          <table class="redemption-table">
              <thead>
                  <tr>
                      <th>Rewards</th>
                      <th>Points Required</th>
                      <th></th>
                  </tr>
              </thead>
              <tbody>

                  {{#each filteredRewards.yogaRewards}}
                      <tr class="{{#if filtered}}filtered{{else}}non-filtered{{/if}}">

                      <form id="form-{{sanitizeId name}}" action="/redeem?id={{../user.id}}" method="POST">

                      <td>{{name}}</td>
                      <td>{{commaFormat points}}</td>
                      <td>
                        <input type="hidden" name="category" value="{{yogaCategory}}">
                        <input type="hidden" name="reward" value="{{name}}">
                        <button type="submit" data-open-modal="dialog-{{sanitizeId name}}" class="update-button" {{#unless filtered}}disabled{{/unless}}>Redeem</button>
                      </td>

                    {{#with (hash 
                        dialogId=(concat "dialog-" (sanitizeId name))
                        dataFormId=(concat "form-" (sanitizeId name))
                    )}}
                    {{> flexibleModal 
                        dialogId=dialogId
                        message="Are you sure you want to redeem this reward?"
                        confirmButtonText="Confirm"
                        cancelButtonText="Cancel"
                        data-source="form"
                        data-form-id=dataFormId
                    }}
                    {{/with}}


                      </form>
                      </tr>
                  {{/each}}
                  
              </tbody>
          </table>
  </div>

  <div class="table-card">
      <div class="category-name">
          <p>F&B Category</p>
      </div>
          <table class="redemption-table">
              <thead>
                  <tr>
                      <th>Rewards</th>
                      <th>Points Required</th>
                      <th></th>
                  </tr>
              </thead>
              <tbody>

                  {{#each filteredRewards.fnbRewards}}
                      <tr class="{{#if filtered}}filtered{{else}}non-filtered{{/if}}">

                      <form id="form-{{sanitizeId name}}" action="/redeem?id={{../user.id}}" method="POST">
                      
                      
                      <td>{{name}}</td>
                      <td>{{commaFormat points}}</td>
                      <td>
                        <input type="hidden" name="category" value="{{fnbCategory}}">
                        <input type="hidden" name="reward" value="{{name}}">
                        <button type="submit" data-open-modal="dialog-{{sanitizeId name}}" class="update-button" {{#unless filtered}}disabled{{/unless}}>Redeem</button>
                      </td>

                    {{#with (hash 
                        dialogId=(concat "dialog-" (sanitizeId name))
                        dataFormId=(concat "form-" (sanitizeId name))
                    )}}
                    {{> flexibleModal 
                        dialogId=dialogId
                        message="Are you sure you want to redeem this reward?"
                        confirmButtonText="Confirm"
                        cancelButtonText="Cancel"
                        data-source="form"
                        data-form-id=dataFormId
                    }}
                    {{/with}}



                      </form>
                      </tr>

                  {{/each}}
                  
              </tbody>
          </table>
  </div>

  <div class="table-card">
      <div class="category-name">
          <p>Vita Spa Category</p>
      </div>
          <table class="redemption-table">
              <thead>
                  <tr>
                      <th>Rewards</th>
                      <th>Points Required</th>
                      <th></th>
                  </tr>
              </thead>
              <tbody>
                  {{#each filteredRewards.vitaSpaRewards}}
                      <tr class="{{#if filtered}}filtered{{else}}non-filtered{{/if}}">
                      <form id="form-{{sanitizeId name}}" action="/redeem?id={{../user.id}}" method="POST">
                      <td>{{name}}</td>
                      <td>{{commaFormat points}}</td>
                      <td>
                        <input type="hidden" name="category" value="{{vitaSpaCategory}}">
                        <input type="hidden" name="reward" value="{{name}}">
                        <button type="submit" data-open-modal="dialog-{{sanitizeId name}}" class="update-button" {{#unless filtered}}disabled{{/unless}}>Redeem</button>
                      </td>

                    {{#with (hash 
                        dialogId=(concat "dialog-" (sanitizeId name))
                        dataFormId=(concat "form-" (sanitizeId name))
                    )}}
                    {{> flexibleModal 
                        dialogId=dialogId
                        message="Are you sure you want to redeem this reward?"
                        confirmButtonText="Confirm"
                        cancelButtonText="Cancel"
                        data-source="form"
                        data-form-id=dataFormId
                    }}
                    {{/with}}


                      </form>
                      </tr>


                  {{/each}}
              </tbody>
          </table>
  </div>

  <div class="table-card">
      <div class="category-name">
          <p>Retreats and YTT packages</p>
      </div>
          <table class="redemption-table">
              <thead>
                  <tr>
                      <th>Rewards</th>
                      <th>Points Required</th>
                      <th></th>
                  </tr>
              </thead>
              <tbody>
                  {{#each filteredRewards.retreatRewards}}
                      <tr class="{{#if filtered}}filtered{{else}}non-filtered{{/if}}">
                      <form id="form-{{sanitizeId name}}" action="/redeem?id={{../user.id}}" method="POST">
                      <td>{{name}}</td>
                      <td>{{commaFormat points}}</td>
                      <td>
                        <input type="hidden" name="category" value="{{retreatsCategory}}">
                        <input type="hidden" name="reward" value="{{name}}">
                        <button type="submit" data-open-modal="dialog-{{sanitizeId name}}" class="update-button" {{#unless filtered}}disabled{{/unless}}>Redeem</button>
                      </td>

                    {{#with (hash 
                        dialogId=(concat "dialog-" (sanitizeId name))
                        dataFormId=(concat "form-" (sanitizeId name))
                    )}}
                    {{> flexibleModal 
                        dialogId=dialogId
                        message="Are you sure you want to redeem this reward?"
                        confirmButtonText="Confirm"
                        cancelButtonText="Cancel"
                        data-source="form"
                        data-form-id=dataFormId
                    }}
                    {{/with}}

                      </form>
                      </tr>
                
                  {{/each}}
              </tbody>
          </table>
  </div>

</div>


</div>
